---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Code from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import Presentation from "../components/Presentation.astro";
import Stack from "../components/Stack.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
---

<Layout
  title="Portfolio - Patricio Frascaroli"
  description="Developed with Astro & Tailwind"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Presentation />
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="stack">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <Briefcase />
          Stack
        </h2>
        <Stack />
      </SectionContainer>

      {
        /*}<SectionContainer id="experience">
      <h2 class="text-2lx font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>*/
      }
      <SectionContainer id="projects">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <Code class="size-7" />
          Projects
        </h2>
        <Projects />
      </SectionContainer>
    </div>
  </main>
</Layout>
