---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "",
    title: "",
    company: "",
    description: "",
    link: "",
  },
  {
    date: "",
    title: "",
    company: "",
    description: "",
    link: "",
  },
  {
    date: "",
    title: "",
    company: "",
    description: "",
    link: "",
  },
  {
    date: "",
    title: "",
    company: "",
    description: "",
    link: "",
  },
  {
    date: "",
    title: "",
    company: "",
    description: "",
    link: "",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
