<footer
  class="rounded-lg shadow m-4 bg-black/5 dark:bg-black/20 backdrop-blur-lg w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center"
>
  <div
    class="flex justify-between w-full max-w-screen-xl mx-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/90"
      >© 2024 <a
        href="https://www.linkedin.com/in/patricio-frascaroli-081762253/"
        class="hover:underline">Patricio Frascaroli</a
      >
    </span>
    <ul
      class="items-center text-sm font-medium dark:text-white/90 sm:mt-0 mr-1 opacity-80"
    >
      <li>
        <a href="mailto:pmfrascaroli@gmail.com" class="hover:underline"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</footer>
